[Desktop Entry]
X-SuSE-translate=true
Name=TaskTracker
GenericName=Task Tracker
Comment=Keep track of your current tasks.
Exec=pytracker
Terminal=false
Type=Application
StartupNotify=false
Icon=zoom-in
